<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home Reassurance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <!--<img class="nav-ufo" src="static/images/world.jpeg">-->
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="col-xs-9 phone-nav">
          <a class="navbar-brand" href="/" id="logo">Home</a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right navbar-right-custom">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/writeup/codeapproach">Coding Approach</a></li>
              <li><a href="/writeup/datamunge">Data Munging</a></li>
              <li><a href="/writeup/sources">Sources</a></li>
            </ul>
          </li>
          <li><a href="states">Where in the World...</a></li>
          <li><a href="compare">Let's Compare</a></li>
          <li><a href="charting">Another View</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Housing Averages in the U.S.</h1>
        <p>Select the year to see the averages for each state.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5>Select the Year:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
      <div class="col-md-9">
        <div id="pie"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

  <!-- jQuery CDN -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <!-- Bootstrap CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- For Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>