<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <!--<img class="nav-ufo" src="static/images/world.jpeg">-->
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="/" id="logo">Home</a>
            </div>
          </div>
  
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li><a href="/writeup/codeapproach">About</a></li>
              <li><a href="/charting">Current Year Housing Averages</a></li>
              <li><a href="/states">Where in the World...</a></li>
              <li><a href="/multiplot">Let's Compare</a></li>
              <li><a href="/compare">Let's Compare Again</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
  
        </div>
      </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1> US Residence Housing Price & Mortgage Rate & DJI Dashboard</h1>
        <p> Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>SELECT State:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
      <div class="col-md-5">
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/app_1.js') }}"></script> -->
  <script type="text/javascript" src="static/js/app_1.js"></script>

</body>

</html>
