<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Home Reassurance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> -->

  <!-- Boostrap Stylesheet
  <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">-->
  <link rel="stylesheet" href="static/css/style.css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style> body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>


</head>

<body class="w3-light-grey">
  <div class="w3-content" style="max-width:1400px">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <!--<img class="nav-ufo" src="static/images/world.jpeg">-->
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-xs-9 phone-nav">
            <a class="navbar-brand" href="/" id="logo">Home</a>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li><a href="/writeup/codeapproach">About</a></li>
              <li><a href="/charting">Current Year Housing Averages</a></li>
              <li><a href="/states">Where in the World...</a></li>
              <li><a href="/multiplot">Let's Compare</a></li>
              <li><a href="/compare">Let's Compare Again</a></li>
            </ul>
          </div>

      </div>
    </nav>
    <div class="w3-row">

      <!-- Blog entries -->
      <div class="w3-col l8 s12">
        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
          <!-- <img src="/w3images/woods.jpg" alt="Nature" style="width:100%"> -->
          <div class="w3-container">
            <h3><b>Why Use This Site</b></h3>
            <hr>
          </div>

          <div class="w3-container">
            <p> Housing is one of the basic necessities of life. Everyone needs a home to live in.
              So buying a home is one of those life experiences that is rewarding, but can be stressful. <br><b>Cost is one of
              those reasons.</b>
              <br>Where is the best place to buy a home? Using this site can help you answer that question.</br>
            </p>
            <div class="w3-row">
              <div class="w3-col m8 s12">
                <!-- <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p> -->
              </div>
              <div class="w3-col m4 w3-hide-small">
                <!-- <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p> -->
              </div>
            </div>
          </div>
        </div>
        <hr>

        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
          <!-- <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%"> -->
          <div class="w3-container">
            <h3><b>Coding Approach</b></h3>
            <hr>
            <!-- <h5>Title description, <span class="w3-opacity">April 2, 2014</span></h5> -->
          </div>

          <div class="w3-container">
            <p>
              <li>Create tables in mySQL and populate from CSV table import.</li>
              <li>Use mysql connector then Flask to define routes for individual end points.</li>
              <li>Use JavaScript to apply logic to the data. </li>
              <li>Use Plotly to chart the data.</li>
              <li>Use index.html or similar pages to host in the webpage.</li>
            </p>
    
          </div>
        </div>
        <!-- End Coding Approach -->

        <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container">
              <h3><b>Data Munging</b></h3>
              <hr>
            </div>
  
            <div class="w3-container">
              <p>
                <li>3 CSV files are merged into excel which were imported to MySql.</li>
                <li>Data is then pulled out using python mysql connector and data is organized and converted from tuples to dictionaries</li>
                <li>Data is jsonified out via Flask app route</li>
                <li>JSON data is used for each plot/chart constructed</li>
              </p>

            </div>
          </div>
      </div>

      <!-- Introduction menu -->
      <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-card w3-margin w3-margin-top">
          <!-- <img src="/w3images/avatar_g.jpg" style="width:100%"> -->
          <div class="w3-container w3-white">
            <h4><b>Who Are We?</b></h4>
            <hr>
            <p>Thusneem Mohamed Ismail <span class="w3-opacity">(Developer, Plot Maker) </span></br>
              <br> Meenakshi Kavaseri <span class="w3-opacity">(Developer, Plot Maker) </span></br>
              <br> Yauhing 'Fardi' Yeung <span class="w3-opacity">(Developer, Flask and MySQL Master) </span></br>
              <br> Khrystyne Vaughan <span class="w3-opacity">(Developer, Web Designer and Plot Maker)</span> </br>
            </p>
          </div>
        </div>
        <hr>
        <div class="w3-card w3-margin w3-margin-top">
            <!-- <img src="/w3images/avatar_g.jpg" style="width:100%"> -->
            <div class="w3-container w3-white">
              <h4><b>Sources</b></h4>
              <hr>
              <p>Housing Data: <span class="w3-opacity">https://www.zillow.com/research/data/</span></br>
                <br> Dow Jones Historical Data:  <span class="w3-opacity">https://finance.yahoo.com/quote/%5EDJI/history?period1=828334800&period2=1541044800&interval<br>=1mo&filter=history&frequency=1mo </span></br>
                <br> 30 Year Mortgage Rate:  <span class="w3-opacity">https://www.macrotrends.net/2604/30-year-fixed-mortgage-rate-chart </span></br>
                <br> Text Animation: <span class="w3-opacity">bounce.js</span></br>
                <br> Bootcamp Homeworks, W3 Schools, and Google  </br>
                <br> Source Code can be found at https://github.com/khrysvaughan/Project-Two </br>
              </p>
            </div>
          </div>
        <hr>
        <!-- END Introduction Menu -->
      </div>

      <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
  </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

  <!-- jQuery CDN -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <!-- Bootstrap CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>